h1{
 font-size: 80px;
 color: black;
 font-weight: bold;
 text-align: center;
}
h2{
 font-size: 40px;
 color: black;
 font-weight: bold;
 text-align: center;
}
p{
 font-size: 30px:
 color: blue;
 text-align: center;
 }
nav{
    word-spacing: 10px;
    text-align: center;
}
